/**
 * nako3 skin
 */

/** kona3_header */
#kona3_header_title a {
	text-decoration: none;
	color: #503020;
}
#kona3_layout_header {
	background-color: #fff0f0;
	font-size: 1em;
}

/** kona3_main */
#kona3_main h1
{
	background-color: #fff0f0;
}

#kona3_main h2
{
	border-top:solid 1px #e0c0c0;
	border-bottom:solid 1px #e0c0c0;
	background-color: #fffcfc;
	color:#004;
}

#kona3_main h3
{
	border-bottom: dotted 1px silver;
}

#kona3_main h4,#kona3_main h5
{
	border-bottom:solid 1px #F0F0F0;
}

#kona3_main h6
{
	border-bottom:solid 1px #F0F0F0;
}

#kona3_main .contents .blognavi
{
	background-color:#FFFFC9;
	color:#fc7819;
}

#kona3_main a:hover
{
	background-color:#ffa;
	color:#00f;
}

#kona3_main a:link,#kona3_main a:active,pre.code span.tag,pre.code span.keyword
{
	color:#00f;
}

#kona3_main a:visited
{
	color:#006;
}

#kona3_main div.date
{
	color:#666;
}

#kona3_main img
{
	border:solid 1px gray;
}

#wikinavi h1,#wikinavi h2,#wikinavi h3,#wikinavi h4,#wikinavi h5,#wikinavi h6
{
	background-color:#E0e0FF;
	color:#000;
	font-size:1em;
	font-weight:400;
	margin:12px 0 4px;
	padding:6px;
}
