{{ include parts_header.html }}

<!-- editor -->
<div id="wikimessage">
  <div id="wikiedit">
    <div class="edit_msg">{{ $msg | safe }}</div>
    <div id="outline_div"></div>
    <form method="post" action="{{$action}}" class="pure-form">
      <input type="hidden" name="a_mode" value="trywrite">
      <input type="hidden" id="a_hash" name="a_hash" value="{{$a_hash}}">
      <input type="hidden" id="edit_token" name="edit_token" value="{{$edit_token}}">
      <div class="editor">
        <textarea id="edit_txt" name="edit_txt">{{$edit_txt}}</textarea>
      </div>
      <div class="buttons">
        <input id="temporarily_save_btn"
          class="pure-button button-long"
          disabled="true"
          type="button" value="{{'Save temp'|lang}}">
        <input id="save_btn" 
          class="pure-button button-short"
          type="submit" value="{{'Save &amp; Show'|lang}}">
        {{ if $git_enabled }}
        <input id="git_save_btn" type="button"
          class="pure-button button-short" 
          value="{{'Save to Repo'|lang}}">
        {{ endif }}
        <input id="new_btn"
          type="button"
          class="pure-button button-short"
          value="{{'New' | lang}}"
          onclick="jump('{{ $new_btn_url }}')">
      </div>
      <div>
        <input type="text" id="edit_info" class="info" readonly>
      </div>
      <div>
        <input type="text" id="edit_counter" class="info" readonly>
      </div>
      <div class="desc">
        <b>Tags</b> (tag1/tag2/tag3...): <input type="text" id="tags" class="info" style="width: 50%;" name="tags" value="{{ $tags }}">
      </div>
      <div class="desc">
        <input type="checkbox" id="autosave" class="info" style="width:2em;" name="autosave" value="yes" checked>
        <label for="autosave"> Auto save </label>
      </div>
    </form>
    <hr>
    
    <div class="desc">
      <div>Shortcut:</div>
      <ul>
        <li>Ctrl+S ... save</li>
      </ul>
    </div><!-- end of .desc -->
    
    <div class="desc">
      <div>{{'History' | lang}}</div>
      <ul>
        {{ for $history as $i => $v }}
        <li>
          <a href="{{$v.link}}">
            ({{$v.history_id}})
            {{$v.mtime | datetime}}
            ({{$v.size | number_format}}B)
          </a>
          by {{$v.user}}
          {{ if kona3isAdmin() }}
          <a href="{{$v.delete_link}}">{{'Delete' | lang}}</a>
          {{ endif }}
        </li>
        {{ endfor }}
      </ul>
    </div><!-- end of .desc -->

    <div class="desc">
      <div>etc...</div>
      <ul>
        <li>
          <input id="ls_load_btn" type="button" class="pure-button"
            value="{{'Load temp'| lang}}">
        </li>
      </ul>
    </div><!-- end of .desc -->

  </div>
</div>
<div style="clear:both;"></div>

<script src="index.php?kona3_autologin.js&resource"></script>

{{ include parts_footer.html }}
