{{ include parts_header.html }}

<!-- editor -->
<div id="wikimessage">
  <div id="wikiedit">
    <div class="edit_msg">{{ $msg | safe }}</div>
    <div id="outline_div"></div>
    <form method="post" action="{{$action}}" class="pure-form">
      <input type="hidden" name="a_mode" value="trywrite">
      <input type="hidden" id="a_hash" name="a_hash" value="{{$a_hash}}">
      <div class="editor">
        <textarea id="edit_txt" name="edit_txt">{{$edit_txt}}</textarea>
      </div>
      <div class="buttons">
        <input id="temporarily_save_btn"
          class="pure-button button-long"
          type="button" value="{{'Save temp'|lang}}">
        <input id="save_btn" 
          class="pure-button button-short"
          type="submit" value="{{'Save &amp; Show'|lang}}">
        {{ if $git_enabled }}
        <input id="git_save_btn" type="button"
          class="pure-button button-short" 
          value="{{'Save to Repo'|lang}}">
        {{ endif }}
      </div>
      <div>
        <input type="text" id="edit_info" class="info" readonly>
      </div>
      <div>
        <input type="text" id="edit_counter" class="info" readonly>
      </div>
    </form>
    <br>
    <div class="desc">
      <div>Shortcut:</div>
      <ul>
        <li>Ctrl+S ... save</li>
      </ul>
    </div>
    <div class="desc">
      <div>etc...</div>
      <ul>
        <li>
          <input id="ls_load_btn" type="button" class="pure-button"
            value="{{'Load temp'| lang}}">
        </li>
      </ul>
    </div>
  </div>
</div>
<div style="clear:both;"></div>

{{ include parts_footer.html }}
