<!DOCTYPE html>
<html lang="{{$lang}}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ if kona3isLogin() }}
<!-- konawiki version -->
<meta name="konawiki::version" contents="{{ $KONAWIKI_VERSION }}">
{{ endif }}
{{ if $wiki_private }}
<meta name="konawiki::private" contents="yes">
{{ endif }}
<!-- include files -->
{{ $head_tags | safe }}
{{ $js_tags | safe }}
{{ $css_tags | safe }}
<!-- title -->
{{ if $page == $FrontPage }}
<title>{{ $wiki_title }}</title>
{{ else }}
<title>{{ $wiki_title }} - {{ $page_title }}</title>
{{ endif }}
<!-- meta -->
{{if $robots != ''}}<meta name="robots" content="{{$robots}}">{{endif}}
</head>
<body>

<!-- #kona3_layout_header -->
<div id="kona3_layout_header">
  <div id="kona3_layout_title">
    <div class="kona3_header_pad">
      <div id="kona3_header_title">
        <a href="{{$FrontPage_url}}">{{ $wiki_title }}</a>
        <span class="pagename">&gt; {{ $page_title_a | safe }}</span>
      </div><!-- end of #kona3_header_title -->
    </div><!-- end of .kona3_header_pad -->
  </div><!-- end of #kona3_layout_title -->
</div><!-- end of #kona3_layout_header -->

<!-- drawer.begin -->
<div id="drawer_wrapper">
  <!-- ハンバーガーメニュー -->
  <div id="hamburger_icon">
        <span class="yum"></span>
        <span class="yum"></span>
        <span class="yum"></span>
    <!-- 飛び出すメニュー -->
    <nav class="menuitems">
      {{ e:echo kona3getCtrlMenu('list') }}
      <ul><li></li></ul>
      {{ e:echo kona3getWikiPage('GlobalBar', '') }}
    </nav>
  </div>
  <!-- 透明な背景ウィンドウ(閉じる専用) -->
  <div id="drawer_background"></div>
</div>
<!-- drawer.end -->

