{{ include parts_header.html }}
<!-- #kona3_layout_show -->
<div id="kona3_layout_show">
  <div id="kona3_layout_show_in" class="pure-g">
  
    <div class="pure-u-1 pure-u-md-19-24 page_body">
      <div id="kona3_main">
        <div class="kona3_login_bar">
          {{ if $is_login }}
          <div class="login_bar1">
            <!-- edit button -->
             {{ $edit_button_html | raw }}
          </div>
          {{ endif }}
          {{ if $show_counter }}
          <div class="login_bar2 mojisu">{{ $cnt_txt }}字</div>
          {{ endif }}
        </div><!-- kona3_login_bar -->
        {{$page_body | safe}}
      </div><!-- #kona3_main -->
    </div><!-- end of .page_body -->

    <div class="pure-u-1 pure-u-md-5-24 show_menubar">
      <div id="kona3_menubar">
        {{e:echo kona3getWikiPage('MenuBar')}}
      </div><!-- end of #kona3_layout_show_menubar -->
    </div><!-- end of .show_menubar -->

  </div><!-- end of #kona3_layout_show_in -->
</div><!-- end of #kona3_layout_show -->

<div style="clear:both;"></div>

{{ include parts_footer.html }}

