{{ include parts_header.html }}
<!-- #wikibody -->
<div id="wikibody">
  <div class="pure-g wikibody_pad">
    <!-- .page_body -->
    <div class="pure-u-1 pure-u-md-19-24 page_body">
      {{$page_body | safe}}
    </div><!-- end of .page_body -->

    <!-- .body-menubar -->
    <div class="pure-u-1 pure-u-md-5-24 body-menubar">
      <div id="wikimenu">
        {{e:echo kona3getWikiPage('MenuBar')}}
      </div><!-- end of #wikimenu -->
    </div><!-- end of .body-menubar -->

  </div><!-- end of .pure-g wikibody_pad -->
</div><!-- end of #wikibody -->
<div style="clear:both;"></div>

{{ if ($allpage_footer != '') }}
<div id="allpage_footer">
  {{e: $allpage_footer; }}
</div><!-- end of #allpage_footer -->
{{ endif; }}

{{ include parts_footer.html }}

