{{ include parts_header.html }}

<div id="wikimessage"><div class="box">

{{ if count($users) == 0 }}
<div class="box_border">None</div>
{{ endif}}

{{ for $users as $v }}
<div class="box_border">
  <h3>
    {{ $v.user_id }}.
    {{ $v.name }}
    &lt;{{ $v.email }}&gt;
  </h3>
  <p>
    {{ if $v['enabled'] == 0 }}
      <span class="error">
        DISABLED - 
        <a href="{{ $v.enable_link }}">Change to Enabled</a>
        - <a href="{{ $v.delete_link }}">Delete</a>
      </span>
    {{ else }}
      <a href="{{ $v.disable_link }}">Change to Disabled</a>
    {{ endif }}
  </p>
  <p class="date">Date: {{ $v.ctime | datetime }}</p>
</div>
{{ endfor }}

<div class="box_border">
  <a class="pure-button" 
   href="{{e:echo kona3getPageURL('new','signup')}}">新規追加</a>
</div>


</div></div><!-- end of #wikimessage -->
<div style="clear:both;"></div>

{{ include parts_footer.html }}

