{{ include parts_header.html }}

<div id="wikimessage"><div class="box">

{{ for $users as $v }}
<div class="box_border">
  <h3>
    {{ $v.user_id }}.
    {{ $v.name }}
    &lt;{{ $v.email }}&gt;
  </h3>
  <p>
    {{ if $v['enabled'] == 0 }}
      <span class="error">
        DISABLED - 
        <a href="{{ $v.enable_link }}">Change to Enabled</a>
      </span>
    {{ else }}
      <a href="{{ $v.disable_link }}">Change to Disabled</a>
    {{ endif }}
  </p>
  <p class="date">Date: {{ $v.ctime | datetime }}</p>
</div>
{{ endfor }}

</div></div><!-- end of #wikimessage -->
<div style="clear:both;"></div>

{{ include parts_footer.html }}

