#wrapper nav {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background:#333;
    font-size: 14px;
    box-sizing: border-box;
    z-index: 2;
}
#wrapper nav.global-navi ul li {
    display:block;
    padding: 8px 28px;
    border-bottom: 1px dotted #555;
    background-color: #444;
}
#wrapper nav.global-navi ul li a {
    text-decoration: none;
    color: #ddd;
    width: 99%;
    display:block;
}
#wrapper ul.counter {
    padding: 0;
    margin: 0;
}
#wrapper #btn-gnavi li.counter_disp {
    color: white;
    font-weight: normal;
}
#wrapper #btn-gnavi {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 24px;
    z-index: 3;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms
}
#wrapper #btn-gnavi span {
    position: absolute;
    width: 30px;
    height: 4px;
    background: #666;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms
}
#wrapper #btn-gnavi span:nth-child(1) {
    top: 0;
}
#wrapper #btn-gnavi span:nth-child(2) {
    top: 10px;
}
#wrapper #btn-gnavi span:nth-child(3) {
    top: 20px;
}
#wrapper #btn-gnavi.open span {
    background: #fff;
}
#wrapper #btn-gnavi.open span {
    width: 24px;;
}
#wrapper .contents section p {
    position: absolute;
    top: 50%;
    width: 30%;
    line-height: 1.4;
    font-size: 20px;
    color: #fff;
}
#wrapper .contents section:nth-child(odd) p {
    left: 10%
}
#wrapper .contents section:nth-child(even) p {
    right: 10%
}
#closeWindow {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

.counter_memo {
    font-size: 11px;
    color: silver;
}






