/* css */


#wikiedit {
  padding:8px;
  margin: 0 auto;
  background-color: #f0f0ff;
  max-width:700px;
}

#wikiedit textarea {
  margin: 0px;
  padding: 1%;
  font-size: 1em;
  line-height: 1.5em;
  width: 98%;
  height: 300px;
}


#wikiedit input[type="submit"],
#wikiedit input[type="button"] {
  font-size: 0.9em;
  border: 1px solid gray;
  color: black;
  padding: 8px;
  background-color: #f0f0f0;
  text-decoration: none;
}

#wikiedit .button-short {
  width: 10em;
}

#wikiedit .button-long {
  width: 16em;
}

#wikiedit .info {
  background-color: white;
  color: gray;
  font-size: 10px;
}

#func_area {
  border: 1px dashed #f0c0c0;
  margin-top: 24px;
  padding: 12px;
}
#recover_div a {
  font-size: 12px;
  border: 1px solid gray;
  color: black;
  padding: 8px;
  background-color: #f0f0f0;
  text-decoration: none; 
}
#auto_save_label {
  font-size:12px;
    color: gray;
}

#wikiedit input#outline_btn {
  font-size: 12px;
  border: 1px solid gray;
  color: black;
  padding: 8px;
  background-color: #f0f0f0;
  text-decoration: none;
  width: 100px;
}

#wikiedit #edit_counter {
  background-color: #f0f0ff;
  border: 1px dashed #ffc0c0;
  margin-top: 8px;
  padding:0.5%;
  font-size: 0.8em;
  width: 99%;
}

#wikiedit #edit_info {
  background-color: #f0f0ff;
  border: 1px dashed #ffc0c0;
  margin-top: 8px;
  padding:0.5%;
  font-size: 0.8em;
  width: 99%;
}

#wikiedit .desc {
  font-size: 0.8em;
  color: gray;
}

